In [2]:
import pandas as pd

In [3]:
#creating a series 

data = [1,2,3,4,5]
series = pd.Series(data)
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
#creating a Dataframe 
data = {'Name': ['a','b','c'], 'Age':[10,15,30]}
df = pd.DataFrame(data)
df

  Name  Age
0    a   10
1    b   15
2    c   30